{% extends 'core/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block head %}
  <title>OpenSummary</title>
  <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/footer.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/article.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/article_card.css' %}">
{% endblock %}

{% block body %}
  <!-- Navbar -->
  {% include "core/navbar.html" %}
  <div class="container body">
    <div class="py-5 mt-4">
      <div class="d-flex flex-row mb-5">
        <h1>My Articles</h1>
        <button class="btn btn-lg btn-primary ms-auto" data-bs-toggle="modal" data-bs-target="#article-create-modal">
          Add Article
        </button>


      </div>
      <div class="row">
        {% for article in articles %}
          <div class="col-12 col-md-4 mb-4">
            {% include "core/article_card.html" %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <!-- Horizontal separator line -->
      <div class="separator"></div>

      <!-- Footer content -->
      <div class="content">
        <div class="mb-2"><strong>OpenSummary © 2023</strong></div>
        <a href="#terms-link" class="footer-link">Terms & policies</a>
        <a href="#privacy-link" class="footer-link">Privacy policy</a>
      </div>
    </div>
  </footer>

  <div class="modal modal-fade" id="article-create-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <h1 class="modal-title">New Article</h1>
        <form id="article-create-form" method="post" action="{% url 'core:article-create' %}"
              enctype="multipart/form-data"
              class="article-create-form">
          <div class="form-body my-4">
            {% csrf_token %}
            {% bootstrap_form form %}
          </div>
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-outline-dark me-2" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Add Article</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
