{% load static %}
<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container">
    <a class="navbar-brand" href="{% url 'core:index' %}">
      <img src="{% static 'core/img/logo.png' %}" alt="OpenSummary Logo" class="logo-img">
      <span class="logo-text"><strong>Open</strong>Summary</span>
    </a>

    <a href="{% url 'core:index' %}">
      <img class="navbar-profile" src="{% static 'core/img/profile_photo.jpg' %}" alt="Profile Photo">
    </a>
  </div>
  </div>
</nav>

